
{%- capture article_class %}js-comment c-article-comments{% if include.name == site.author.name %} admin{% endif %}{% if include.is_reply %} child{% endif %}{% endcapture %}
{% assign comment_id = include.uid | prepend: 'comment-' %}
<div id="{{ comment_id }}" class="{{ article_class }}" uid="{{ include.uid }}">
    <div class="article__comment-wrapper">
      <figure class="article__comment">
        <header>
          <a href="#0" class="article__comment-img">
             <img src="/assets/img/hero.png" alt="Jake">
        </a>
           </header>
        <footer class="comment__content">
          <p>
            <a href="https://twitter.com/{{- include.name | strip_html -}}">
              {{- include.name | strip_html -}}
            </a>
          </p>
          <time datetime="2020-01-06"> {%- if include.date -%}</time>
          <p></p>
           <p>{{ include.message | markdownify }}</p>
      <p></p>
    </footer>
  </figure>
</div>
{% if include.is_reply %}
</div>
{% else %}
<a rel="nofollow" class="comment__reply-link btn btn--small btn--white" onclick="return addComment.moveForm('{{ comment_id }}', 'respond', '{{ page.slug }}', '{{ include.uid }}')">Reply to {{ include.name }}</a>
</div>

  {%- capture this_uid %}{{ include.uid }}{% endcapture %}
  {%- assign replies = site.data.comments[page.slug] | where_exp: 'item', 'item.replying_to_uid == this_uid' %}
  {%- assign replies_date = replies | sort: 'date' %}
  {% for reply in replies_date %}
    {%- assign name        = reply.name -%}
    {%- assign date        = reply.date -%}
    {%- assign message     = reply.message -%}
    {%- assign uid         = reply._id -%}
    {% include comment.html is_reply=true uid=uid email=email name=name url=url date=date message=message %}
  {% endfor %}

 
{% endif %}
