<form class="js-form c-comment__form" method="post" action="{{ site.staticman_url }}">
  <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
  <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
  <input type="hidden" id="comment-replying-to-uid" name="fields[replying_to_uid]" value="">
  <input type="hidden" name="options[slug]" value="{{ page.slug }}">
              <div class="c-comment--input__wrapper">
                <label for="c-form--name" class="sr-only">
                  Enter your twitter name, eg @Spruce
                </label>
                <input type="text" name="c-form--name" id="c-form--name" placeholder="Your twitter ( eg @Spruce )">
              </div>
              <div class="c-comment--input__wrapper">
              <label for="c-form--comment" class="sr-only">
                Type your comment here
              </label>
              <textarea label="Type your comment here..." type="textarea" class="" id="c-form--comment" inputmode="text" name="message" placeholder="Type your comment here...">
              </textarea>
            </div>
            <div class="c-comment--button__wrapper">
              <a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" class="btn btn--medium btn--white" hidden>
                Cancel reply
              </a>
              <button type="submit" class="btn btn--medium btn--blue" id="comment-form-submit">
                Add comment
              </button>
            </form>

