
    <!-- Header Start -->
    <header class="c-banner">
      <div class="c-banner__wrapper">
        <a href="#0" class="c-banner__logo">
            #Spruce
        </a>
            
        <nav class="c-nav" aria-label="Navigation">
          <button class="c-nav__button" id="menu__button" aria-controls="menu__drawer" aria-expanded="false" aria-label="Menu">
            <svg class="c-nav__icon" width="28" height="28" focusable="false" aria-hidden="true">
              <use xlink:href="#icon-menu"></use>  
            </svg>
            <svg class="c-nav__icon--close" hidden width="28" height="28" focusable="false" aria-hidden="true">
              <use xlink:href="#icon-close"></use>  
            </svg>
          </button>
          <ul class="c-nav__items"> 
            {%- for link in site.data.navigation -%}
            <li class="c-nav__item">
              <a class="c-nav__label {% if link.url == page.url %} c-nav__label--active {% endif %}" href="{{ link.url }}">
                <span class="c-nav__num" aria-hidden="true">{{ link.num }}</span>
               {{ link.name }}
              </a>
            </li>
            {%- endfor -%}
          </ul>
        </nav>        
      </div>
    </header>