
    <!-- Header Start -->
    <header class="c-banner">
      <div class="section c-banner__wrapper">
        <a href="#0" class="c-banner__logo">
            #Spruce
        </a>
            
        <nav class="c-nav" aria-label="Navigation">
          <button class="c-nav__button" id="menu__button" aria-controls="menu__drawer" aria-expanded="false" aria-label="Menu">
            <svg class="c-nav__icon" width="28" height="28" focusable="false" aria-hidden="true">
              <use xlink:href="#icon-menu"></use>  
            </svg>
            <svg class="c-nav__icon--close" hidden width="28" height="28" focusable="false" aria-hidden="true">
              <use xlink:href="#icon-close"></use>  
            </svg>
          </button>
          <ul class="c-nav__items">
        
          <li class="c-nav__item">
            <a class="c-nav__label" href="/topics/business/">
              
        
              Home
            </a>
          </li>
        
          <li class="c-nav__item">
            <a class="c-nav__label" href="/topics/code/">
              
        
              About
            </a>
          </li>
        
          <li class="c-nav__item">
            <a class="c-nav__label" href="/topics/content/">
              
        
              Contact
            </a>
          </li>
        
          <li class="c-nav__item">
            <a class="c-nav__label" href="/topics/design/">
              
        
              Articles
            </a>
          </li>
          <li class="c-nav__item">
            <a class="c-nav__label" href="/topics/design/">
              
        
              Follow
            </a>
          </li>
          </ul>
        </nav>        
      </div>
    </header>