    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <title>
        Spruce | {{ page.title }}
    </title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}" />
    {% else %}
    <meta name="description" content="{{ page.excerpt | strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />
    <meta property="og:url" content="{{ site.baseurl }}/{{ page.url }}">
        <meta property="og:image" content="{{ site.baseurl }}/assets/img/spruce.jpg">
        <meta name="twitter:card" content="summary">
        <meta name="author" content="Spruce Emmanuel">
        <meta property="og:site_name" content="Spruce Emmanuel">
        <meta property="og:locale" content="en_US">
        <meta name="twitter:site" content="@sprucekhalifa">
        <meta name="twitter:creator" content="@sprucekhalifa">
        <link rel="canonical" href="{{site.baseurl}}/{{ page.url }}">
        <script type="application/ld+json">
            {
                "name":"Spruce Emmanuel",
                "description":"Spruce Emmanuel is a front-end web designer and developer based in Nigeria.",
                "author": {
                    "@type":"Person",
                    "name":"Spruce Emmanuel"
                },
                "@type":"WebSite",
                "url":"https://spruce.com.ng",
                "image":"{{ site.baseurl }}/assets/img/spruce.jpg",
                "headline":"Spruce Emmanuel",
                "sameAs":[
                    "https://twitter.com/sprucekhallifa",
                    "https://github.com/iamspruce",
                    "https://facebook.com/spruce.emma"
                ],
                "@context":"http://schema.org"
            }
        </script>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon/favicon.ico">
        <link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
        <meta name="theme-color" content="{{ page.themeColor }}">
    <link rel="me" href="https://twitter.com/sprucekhalifa">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="/feed.xml" />
    
        
