.btn {
    border-radius:6px;
    text-align: center;
       vertical-align: middle;
       transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
       
   }
   .btn--border {
       background-color: transparent;
       border: 2px solid $color-white;
       color: $color-white;
   
   
       &:hover,&:focus {
           background:$color-white;
            color: $color-primary;
            border:1px solid $color-primary;
               }
   
   }
   .btn--primary {
       background: $color-primary;
       color: $color-white;
   
       &:hover,&:focus {
           background:$color-white;
            color:$color-primary;
            border-color: $color-primary
               }
   }
   .btn--green {
       color: $color-green;
       border: 1px solid $color-green;
   }
   .btn--blue {
       background-color: $color-blue;
       border: 1px solid $color-blue-offset;
       color: $color-white;
   
       &:hover,&:focus {
           background-color: $color-white;
           color: $color-blue
       }
   }
   .btn--white {
       background-color: $color-white;
       border: 1px solid $color-blue-offset;
       color: $color-blue;
   
       &:hover,&:focus {
           background-color: $color-blue;
           color: $color-white
       }
   }
   .btn.btn--radius {
       border-radius: 4rem
   }
   .btn--half {
       width: 50%;
       border: 2px solid #0a0a23;
       background: #ccc;
       color: #0a0a23;
   
       &:hover,&:focus {
           background-color: $color-primary-offset;
           color: $color-white;
       }
   }
   .btn.btn--small {
    font-size:.9em;
    margin:0;
    padding:.8em 1em
   }
   
   .btn.btn--medium {
    font-size:calc(.9em + .1vw);
    padding:.75em 1em
   }
   
   .btn.btn--large {
    font-size:calc(.9em + .25vw);
    padding:.95em 1.5em
   }