/* footer */
.site-footer {
    background-color: $color-primary-offset;
    font-size: 100%;
   }
   .footer {
    z-index:4;
    margin:0 auto;
    padding:2.5em 3.75em 1.25em;
    color:rgba(0,0,0,.7);
    background:url(../assets/img/see-500x500-removebg-preview.png) 95% 0% no-repeat;
    background-size:30em;


   p {
    font-size:1rem;
    margin-bottom: 1.375em;
   }

   ul {
    margin-left:0;
    padding-left:0;
    margin-bottom: 1.375em;
   }

   a {
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    padding: .35em .1em;
    color: $color-white;
    border-bottom: .08em solid $color-white;

    &:hover {
      color:#fff;
    background-color:#2c92d0
    }
   }

   &::after {
    display:table;
    clear:both;
    content:""
   }
  }
   .footer-nav {
    display: inline-block;
    margin-bottom: .5em;
    padding-left: .25em;
    padding-top: .7143em;
}

   
   .footer-nav .br {
    display:block
   }
   .footer .btt,
   .k {
    clear:left
   }
   .footer-nav {
    margin-right:27.2857em;
    padding-top:.7143em;


   li {
    margin-right:1.1429em;
    display: inline-block;
   }
  }
   
   .footer__inner {
    float:left;
    font-size:.875em;
    line-height:2em
   }
   .k {
    margin:.7857em 0 1.5714em
   }

   @media screen and (max-width:62.5em) {
   
    .footer__inner {
     float:none
    }
    .footer {
     width:100%;
     padding:2.5em 0 20em;
     text-align:center;
     background-position:center 100%;
     background-size: 15em;
    }
    .footer-nav {
     margin:0 auto
    }
    .footer-nav li {
     margin:0 1.4286em 0 0
    }
    .footer-nav .br {
     display:inline-block
    }
    .footer-nav .k {
     margin:.5em .5em 1em
    }
    .btt {
     clear:both
    }
   }
   @media screen and (max-width:48em) {
    .footer {
     padding-bottom:30%
    }
   }

   @media screen and (max-width:62.5em) {
    
    .footer {
     width:100%;
     padding:2.5em 0 20em;
     text-align:center;
     background-position:center 100%
    }
    .footer-nav {
     margin:0 auto;
     padding-top: .7143em;
    }
    
   }
   @media screen and (max-width:37.5em) {
    .footer {
     padding-bottom:65%;
     font-size:.875em;
     line-height:1.5em
    }
    .footer em {
     display:block;
     margin-bottom:.8333em
    }
    .footer-nav li {
     margin:0 .41667em
    }
    
   }
