.offline-car {
    width: 100vw;
   
    
     img {
       width: 250px;
       height: 250px;
     animation: bobble 3s ease;
     animation-iteration-count: infinite;
   
     }
    }
    @media (min-width:768px) {
     .offline-car {
       
        img {
          width: 350px;
          height: 350px;
       
        }
       }
    }
     @keyframes bobble {
       0% {
           transform: translateX(100vw);
       }
       
       60% {
         transform: translateX(60vw);
       }
       100% {
           transform: translateX(-100vw);
       }
     }
     
