.section {
    padding-right: calc(1rem + .85vw);
    padding-left: calc(1rem + .85vw);

}

.c-hero {
    background: linear-gradient(to bottom right, $color-primary 50%, transparent),
    url("/assets/img/hero.png") no-repeat;
    background-position: center, 100% 100%;
    background-size: cover, 70%;
    color: $color-white;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    } 
    
@media (min-height: 700px) {
      .c-hero {
        height: 50vh;
      }  
    }
    @media (min-height: 800px) {
        .c-hero {
          height: 30vh;
        }  
      }
      @media (min-height: 900px) {
        .c-hero {
          height: 20vh;
        }  
      }
.section--tight {
    padding-top: calc(1rem + .85vw);
    padding-bottom: calc(1rem + .85vw);
}
    