--- 
#Spruce blog css
---

$color-bg: #fff;
$color-bg-offset: #f7f7f9;
$color-text: #373a3c;
$color-primary: #7f62e4;
$color-primary-offset: #463883;
$color-secondary: #05acd3;
$color-text-offset: #818a91;
$color-white: #ffffff;
$color-border: #eceeef;
$color-gradient: linear-gradient(60deg, $color-primary-offset 0%, #ededed 100%);

/* global css */
@import "fonts";
@import "reset";

/* utilities */
@import "utilities";

/* modules */
@import "header";
@import "footer";
@import "btns";
@import "section";
@import "columns";
@import "text";
@import "headings";
@import "article";



