<!DOCTYPE html>
<html lang="en-Us">
  <head>
  
    {% include analytics.html %}
    {% include meta.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  
  </head>

  <body id="top">
  <div class="wrapper">
{% include header.html %}

    <main id="main" role="main">
      {{ content }}
    </main>

    {% include footer.html %}
    </div> 
    {% include svg-icons.html %}
    {% include analytics.html %}
  </body>
  <script src="{{ site.baseurl }}/assets/headerJs.js"></script>
  <script>
		// Initialize the service worker
		if (navigator && navigator.serviceWorker) {
			navigator.serviceWorker.register('service-worker.js');
		}
	</script> 
</html>
