<!DOCTYPE html>
<html lang="en-Us">
  <head>
  

    {% include meta.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% webmentions_head %}
    {% if page.redirect_from %}<meta property="webmention:redirected_from" content="{{ page.redirect_from | join: ',' }}">{% endif %}

  </head>

  <body id="top">
  <div class="wrapper">
{% include header.html %}

    <main id="main" role="main">
      {{ content }}
    </main>

    {% include footer.html %}
    </div> 
    {% include svg-icons.html %}
    {% include analytics.html %}
  </body>
  <script src="{{ site.baseurl }}/assets/headerJs.js"></script>
</html>
