---
layout: default
---
    
<body id="top" class="article-page">

<div class="col-12">
  <div class="col-1 c-article__share">
    <ul class="c-share-items">
      <li>
        <a href="#0" class="c-share__label">
          <svg width="16px" height="16px">
            <use xlink:href="#logo-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#0" class="c-share__label">
          <svg width="16px" height="16px">
            <use xlink:href="#logo-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-12">
    <article class="c-article">
      <header class="c-article__header">
        <p class="c-article__meta">
          <time class="dt-published" datetime="{{ page.date }}">
            {{ page.date | date_to_string }}
  </time>
  <span class="c-article__tags p-category">
    {% for tag in site.tags %}
      {{ tag.name }},
    {% endfor %}

  </span>
      </p>
          <h3 class="c-article__title  p-name">
                {{ page.title }}
          </h3>
  
      <p class="c-article__summary">
        {{ page.summary }}
      </p>    
  
          <span class="c-article__author">Writen By <a href="https://fb.me/{{ page.author_url }}">{{ page.author }}</a></span>
        
      </header>
      
      <footer class="c-article__footer">
        <div class="p-article e-content">
          {{ content }}
        </div>
      </footer>
      
    </article>
    <div class="c-webmentions">
      <h3> Webmentions </h3>
      {% if webmentions %}
        <p>webmentions here</p>
      {% else %}
        <p>Cannot generate webmentions at the moment</p>
      {% endif %}
    </div>
    
  </div>

</div>
<section class="section section--tight">
  <div class="page-intro">
    <span class="page-intro__inner">
      <span class="page-intro__inner-text">
      Related articles
      </span>
    </span>
  </div>
  <ol class="c-listing--summaries">

    {% for post in site.posts | limit: 3 %}

    <li>
  
<article class="c-summary h-entry">
          <header class="c-summary__header">
            <p class="c-summary__meta">
              <time class="dt-published" datetime="{{ page.date }}">
      {{ post.date | date_to_string }}
    </time>
              
          </p>
              <h3 class="c-summary__title  p-name">
                  <a class="u-url" rel="bookmark" href="{{ post.url }}">
                    {{ post.title }}
                  </a>
              </h3>
              <span class="c-summary__author">by <a href="{{ post.author_url }}">{{ post.author }}</a></span>
            
          </header>
          
          <footer class="c-summary__footer">
            <p class="p-summary">
              {{ post.excerpt | truncatewords: 40, '...' | strip_html }}
            </p>
          </footer>
      </article>
    </li>
    {% endfor %}
    
  </ol>
  
</section>

</body>