---
layout: default
themeColor: #ffffff
---
    
<body id="top" class="article-page">

<div class="col-12">
  <div class="col-12">
    <article class="c-article">
      <header class="c-article__header">
        <p class="c-article__meta">
          <time class="dt-published" datetime="{{ page.date }}">
            {{ page.date | date_to_string }}
  </time>
  <span class="c-article__tags p-category">
  {% for tags in post.tags %}
    {{ post.tag }},
  {% endfor %}

  </span>
      </p>
          <h3 class="c-article__title  p-name">
                {{ page.title }}
          </h3>
  
      <p class="c-article__summary">
        {{ page.summary }}
      </p>    
  
          <span class="c-article__author">written By <a href="https://facebook.com/{{ page.author_url }}">{{ page.author }}</a></span>
        
      </header>
      
      <footer class="c-article__footer">
        <div class="p-article e-content">
          {{ content }}
        </div>
      </footer>
      
      
      <p></p>
      
    </article>
  </div>
  <nav class="c-article-nav" aria-label="Article">
    <a class="c-article-nav__item" rel="prev" href="{{ page.previous.url }}" aria-label="Previous: Flexible Captioned Slanted Images">
      <svg class="c-article-nav__icon" width="20" height="20" viewBox="0 0 200 200" focusable="false" aria-hidden="true">
    <path d="M 50 100l85 85 7-7-78-78 78-78-7-7"></path>
  </svg>
  </a><a class="c-article-nav__item" rel="next" href="{{ page.next.url }}" aria-label="Next: Four Ways Design Systems Can Promote Accessibility – and What They Can’t Do">
    <svg class="c-article-nav__icon" width="20" height="20" viewBox="0 0 200 200" focusable="false" aria-hidden="true">
    <path d="M150 100l-85 85-7-7 78-78-78-78 7-7"></path>
  </svg>
  </a></nav>
</div>