---
layout: default
---
    
<body id="top" class="article-page">

<div class="col-12">
  <div class="col-1 c-article__share">
    <ul class="c-share-items">
      <li>
        <a href="#0" class="c-share__label">
          <svg width="16px" height="16px">
            <use xlink:href="#logo-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#0" class="c-share__label">
          <svg width="16px" height="16px">
            <use xlink:href="#logo-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-12">
    <article class="c-article">
      <header class="c-article__header">
        <p class="c-article__meta">
          <time class="dt-published" datetime="{{ page.date }}">
            {{ page.date | date_to_string }}
  </time>
  <span class="c-article__tags p-category">
    {% for tag in site.tags %}
      {{ tag[0] }},
    {% endfor %}

  </span>
      </p>
          <h3 class="c-article__title  p-name">
                {{ page.title }}
          </h3>
  
      <p class="c-article__summary">
        {{ page.summary }}
      </p>    
  
          <span class="c-article__author">Writen By <a href="https://fb.me/{{ page.author_url }}">{{ page.author }}</a></span>
        
      </header>
      
      <footer class="c-article__footer">
        <div class="p-article e-content">
          {{ content }}
        </div>
      </footer>
      
      <div class="c-webmentions">
        <h3> Webmentions </h3>
        {% if webmentions %}
          <p>webmentions here</p>
        {% else %}
          <p>Cannot generate webmentions at the moment</p>
        {% endif %}
      </div>
  {%- include comments -%}

    </article>
  </div>
  <nav class="c-article-nav" aria-label="Article">
    <a class="c-article-nav__item" rel="prev" href="#0" aria-label="Previous: Flexible Captioned Slanted Images">
      <svg class="c-article-nav__icon" width="20" height="20" viewBox="0 0 200 200" focusable="false" aria-hidden="true">
    <path d="M50 100l85 85 7-7-78-78 78-78-7-7"></path>
  </svg>
  </a><a class="c-article-nav__item" rel="next" href="#0" aria-label="Next: Four Ways Design Systems Can Promote Accessibility – and What They Can’t Do">
    <svg class="c-article-nav__icon" width="20" height="20" viewBox="0 0 200 200" focusable="false" aria-hidden="true">
    <path d="M150 100l-85 85-7-7 78-78-78-78 7-7"></path>
  </svg>
  </a></nav>
</div>
</body>